<%- include("./partials/head-admin") %>
<%- include("./partials/header-admin") %>
<section class="anime-edit">

        
 
    <% if(locals.anime){ %>

        <main>
            <h2> Atualizar Usuario </h2>
            <% if(locals.error){ %>
                <h2> <%= error.message%> </h2>
            <% } %> 
            <form action="/anime/edit/<%= anime.id %>?_method=put" method="post" enctype="multipart/form-data">

<section class="site-animes-pagina-anime">

    <div class="lado-esquerdo-do-site-pagina-anime">
        <section class="sessao1-pagina-anime">
            <div class="titulo-principal-pagina-anime">
                    <img src="/img/icone.png" alt="">
                    <h2><input value="<%= anime.nome %>" type="text" name="nome" placeholder="Nome do Anime"  /> - <%= anime.tipo %> </h2>
            </div>


            
            <div class="sessao1-primeira-parte-lista-anime">
                <div class="capa-do-anime-escolhido">
                    <div class="capa-do-anime-pagina-anime">
                        <img src="<%= anime.capa %>" alt="capa"/>
                    </div>
                    <input value="<%= anime.capa %>" type="file" name="capa" placeholder="Capa do Anime" accept="image/png, image/jpeg"  />
                    <div class="icones-da-capa-do-anime-lista-anime">
                        <ul>
                            <li><img src="/img/icone-favorito.png" alt=""></li>
                            <li class="lista-de-animes">
                                <h4>Lista</h4>
                                <img src="/img/icone-lista-anime.png" alt="">
                            </li>
                            <li class="icone-gostei-pagina-anime"> 
                            <img src="/img/icone-gostei.png" alt=""> <p>91</p> 
                            </li>
                            <li class="icone-desgostei-pagina-anime"> 
                            <img src="/img/icone-desgostei.png" alt=""> <p>11</p> 
                            </li>
                        </ul>
                    </div>
                </div>
                
                
                <div class="informações-do-anime-lista-anime">
                    <ul>
                        <li><h3>Tipo: <select name="tipo" aria-required="true" aria-invalid="false"><option value=""><%= anime.tipo %></option><option value="Legendado">Legendado</option><option value="Dublado" >Dublado</option></select></h3></li>
                        <li><h3>Formato: Anime</h3></li>
                        <li><h3>Gêneros: <input value="<%= anime.generos %>" type="text" name="generos" placeholder="Generos" /></h3></li>
                        <li><h3>Autor: <input value="<%= anime.autor %>" type="text" name="autor" placeholder="Autor do Anime" /></h3></li>
                        <li><h3>Estúdio: <input value="<%= anime.estudio %>" type="text" name="estudio" placeholder="Estudio do Anime" /></h3></li>
                        <li><h3>Total de Episódios: <%= anime.episodios %></h3></li>
                        <li><h3>Ovas: <%= anime.ovas %></h3></li>
                        <li><h3>Filmes: <%= anime.filmes %></h3></li>
                        <li class="status-lista-anime"><h3>Status: <select name="status" aria-required="true" aria-invalid="false"><option value=""><%= anime.status %></option><option value="Em Lançamento">Em Lançamento</option><option value="Comcluido" >Comcluido</option></select></h3></li>
                    </ul>
                </div>
            </div>


                             
            <div class="titulo-assistir-anime-online-lista-anime">
                <h3>Assistir <%= anime.nome %> Todos Episódios em HD com a melhor qualidade</h3>
            </div>

            <div class="sinopse-anime-lista-anime">
                <h2>Sinopse - <%= anime.nome %></h2>
                <p>
                    <input value="<%= anime.sinopse %>" type="text" name="sinopse" placeholder="Resenha sobre o Anime" />
                </p>
                
            </div>
        </section>

    </section>
    <% } else {%>
        <h2>Usuario não Entrado por motivos do além</h2>
    <% }  %>
                
                <button type="submit">Atualizar</button>
            </form>
    
        <section class="sessao2-pagina-anime">

            <div>
                <div class="temporadas-pagina-anime">
                    <ul>
                        <li class="numero-da-tempora-pagina-anime">1</li>
                        <li class="numero-da-tempora2-pagina-anime">Temporada 1</li>
                    </ul>
                </div>

  
                <!-- <form action="/anime/create" method="post">

                    
                    <label for="nome"></label>
                    <select name="nome-episodio" aria-required="true" aria-invalid="false"><option value="-">
                    </option><option value="">Sasuke</option></select>

                    <input type="file"  name="imagem" id="" placeholder="Imagem">
                    <input type="date" name="data">
                    <input type="submit">
                </form> -->

                <main>
                    <h2> Adicionar Episodio </h2>
                    <% if(locals.error){ %>
                        <h2> <%= error.message%> </h2>
                    <% } %> 
                    <form action="/episodio/create" method="post">
                        <input type="text" name="nome" placeholder="Nome"  />
                        <input type="date" name="data" placeholder="Data" />
                        <input type="file" name="capa" />
            
                        <button type="submit">Adicionar</button>
                    </form>
                </main>
                       
                <% for(let episodio of episodios) {%>
                    <a href="/episodio/<%= episodio.id %>">
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                                
                            <div>
                                
                                <img src="<%= episodio.imagem %>" alt="capa"/>
                            </div>
                            <div class="data-lancamento">
                                <div>
                                    <h3>Episódio <%= episodio.id %></h3>
                                    <h5><%= episodio.nome %></h5>
                                    <h5><%= episodio.data %></h5>
                                </div>      
                            </div>   
                        </li>
                    </a>
                        <% } %>

   
       
                      

                        

        </section>

    </div>


 





  
    <form action="/anime/delete/ <%= anime.id %>?_method=delete" method="post">
        <h2>Deseja Deletar  esse usuário</h2>
        <a href="/anime"><button type="button">Não</button></a>
        <button type="submit">Sim</button>
    </form>

</section>