<%- include("./partials/head") %>
<%- include("./partials/header") %>

    <% if(locals.anime){ %>
 
<section class="site-animes-pagina-anime">

    <div class="lado-esquerdo-do-site-pagina-anime">
        <section class="sessao1-pagina-anime">
            <div class="titulo-principal-pagina-anime">
                    <img src="/img/icone.png" alt="">
                    <h2><%= anime.nome %> - <%= anime.tipo %> </h2>
            </div>

            <div class="sessao1-primeira-parte-lista-anime">
                <div class="capa-do-anime-escolhido">
                    <div class="capa-do-anime-pagina-anime">
                        <img src="<%= anime.capa %>" alt="capa"/>
                    </div>
                    <div class="icones-da-capa-do-anime-lista-anime">
                        <ul>
                            <li><img src="/img/icone-favorito.png" alt=""></li>
                            <li class="lista-de-animes">
                                <h4>Lista</h4>
                                <img src="/img/icone-lista-anime.png" alt="">
                            </li>
                            <li class="icone-gostei-pagina-anime"> 
                            <img src="/img/icone-gostei.png" alt=""> <p>91</p> 
                            </li>
                            <li class="icone-desgostei-pagina-anime"> 
                            <img src="/img/icone-desgostei.png" alt=""> <p>11</p> 
                            </li>
                        </ul>
                    </div>
                </div>
    
        
                <div class="informações-do-anime-lista-anime">
                    <ul>
                        <li><h3>Tipo: <%= anime.tipo %></h3></li>
                        <li><h3>Formato: Anime</h3></li>
                        <li><h3>Gêneros: <%= anime.generos %></h3></li>
                        <li><h3>Autor: <%= anime.autor %></h3></li>
                        <li><h3>Estúdio: <%= anime.estudio %></h3></li>
                        <li><h3>Total de Episódios: <%= anime.episodios %></h3></li>
                        <li><h3>Ovas: <%= anime.ovas %></h3></li>
                        <li><h3>Filmes: <%= anime.filmes %></h3></li>
                        <li class="status-lista-anime"><h3>Status: <%= anime.status %></h3></li>
                    </ul>
                </div>
            </div>

            <div class="titulo-assistir-anime-online-lista-anime">
                <h3>Assistir <%= anime.nome %> Todos Episódios em HD com a melhor qualidade</h3>
            </div>

            <div class="sinopse-anime-lista-anime">
                <h2>Sinopse - <%= anime.nome %></h2>
                <p>
                    <%= anime.sinopse %>
                </p>
            </div>
        </section>

     
        <section class="sessao2-pagina-anime">

            <div>
                <div class="temporadas-pagina-anime">
                    <ul>
                        <li class="numero-da-tempora-pagina-anime">1</li>
                        <li class="numero-da-tempora2-pagina-anime">Temporada 1</li>
                    </ul>
                </div>
                <div class="numero-do-episodio-pagina-anime">
                    <ul> 
       


                <% for(let episodio of episodios) {%>
                    <a href="/episodio/<%= episodio.id %>">
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            
                        <div>
                            
                            <img src="<%= episodio.imagem %>" alt="capa"/>
                        </div>
                        <div class="data-lancamento">
                            <div>
                                <h3>Episódio - <%= episodio.id %></h3>
                                <h5><%= episodio.nome %> - <%= episodio.data %>
                                
                            </div>      
                        </div>   
                        </li>
                    </a>
                    <% } %>
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt="">
                            </div>
                            <div class="data-lancamento">
                                <div>
                                    <h3>Episódio 2 - 1</h3>
                                <h5>19 de março de 2023</h5>
                                </div>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt="">
                            </div>
                            <div class="data-lancamento">
                                <div>
                                    <h3>Episódio 3 - 1</h3>
                                <h5>19 de março de 2023</h5>
                                </div>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime 
                        ultimo-capa-e-numero-do-episodio-pagina-anime ">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime.png" alt="">
                            </div>
                            <div class="data-lancamento">
                                <div>
                                    <h3>Episódio 4 - 1</h3>
                                <h5>19 de março de 2023</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            



            <div>
                <div class="temporadas-pagina-anime">
                    <ul>
                        <li class="numero-da-tempora-pagina-anime">2</li>
                        <li class="numero-da-tempora2-pagina-anime">Temporada 2</li>
                    </ul>
                </div>
                <div class="numero-do-episodio-pagina-anime">
                    <ul> 
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime2.png" alt="">
                            </div>
                            <div class="data-lancamento">
                                <div>
                                    <h3>Episódio 1 - 2</h3>
                                <h5>19 de março de 2023</h5>
                                </div>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime2.png" alt="">
                            </div>
                            <div class="data-lancamento">
                                <div>
                                    <h3>Episódio 2 - 2</h3>
                                <h5>19 de março de 2023</h5>
                                </div>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime2.png" alt="">
                            </div>
                            <div class="data-lancamento">
                                <div>
                                    <h3>Episódio 3 - 2</h3>
                                <h5>19 de março de 2023</h5>
                                </div>
                            </div>
                        </li>
                        <li class="capa-e-numero-do-episodio-pagina-anime 
                        ultimo-capa-e-numero-do-episodio-pagina-anime ">
                            <div>
                                <img src="/img/capa-da-lista-de-episodios-do-anime2.png" alt="">
                            </div>
                            <div class="data-lancamento">
                                <div>
                                    <h3>Episódio 4 - 2</h3>
                                <h5>19 de março de 2023</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </section>

    </div>


    <div class="lado-direito-do-site-index">

        <div class="linha-lateral-direita-index2"> </div>
        <div class="linha-lateral-direita-index">
            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index">
                    <h2>ANIMES MAIS POPULARES</h2>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </a>

                </div>
            </section>
        
            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>MANGAS POPULARES</h2>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                
                </div>
            </section>

            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>NOTICÍAS DO BLOG</h2>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href=""><div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                
                </div>
            </section>
    </div>

</section>
<% } else {%>
    <h2>Usuario não Entrado por motivos do além</h2>
<% }  %>



<%- include("./partials/footer") %> 
