<%- include("./partials/head") %>
<%- include("./partials/header") %>
<div class="espaco-area-cliente"></div>

<section class="pagina-area-cliente">
  <% if(locals.success){ %>
  <h2><%= success.message %></h2>
  <% } %>

  <div class="area-cliente">
    <div class="perfil-cliente">
      <img
        src="<%= user.image_filename ? '/uploads/' + user.image_filename : '/image/default-image.jpg' %>"
        alt="Imagem"
      />

      <h2><%= user.nome %></h2>
      <a href="/user/edit/<%= user.id %>">Editar Perfil</a>
    </div>

    

    <div class="topicos-da-area-do-cliente">
      <ul>
        <li class="acomp" id="acomp-item">
          <h3>Acompanhando</h3>
          <h5>Volte no episódio que parou</h5>
        </li>

        <!-- Seção de Favoritos -->
        <li class="favoritos" id="favor-item">
          <div>
            <h3>Meus Favoritos</h3>
            <h5>Veja sua Lista de Favoritados</h5>
          </div>
        </li>

        <li class="hist" id="hist-item">
          <h3>Histórico</h3>
          <h5>Histórico de atividades</h5>
        </li>
      </ul>

      <div class="button-categoria-favor">
        <button id="btn-anime" class="btn-categoria " style="display: none;">Animes</button>
        <button id="btn-filme" class="btn-categoria" style="display: none;">Filmes</button>
        <button id="btn-dorama" class="btn-categoria" style="display: none;">Doramas</button>
      </div>
    </div>
      
    <!-- Favoritos de Animes -->
    <div id="favoritos-anime" class="categoria animes-lancados lista-dos-animes-capas lista-anime-favorito" style="display: none;">
      <% favoritos.filter(favorito => favorito.Anime).forEach(favorito => { %>
        <div class="capa-onepiece-index capa-onepiece-listadosanimes ">
          <a href="/anime/<%= favorito.Anime.id %>" data-anime-id="<%= favorito.Anime.id %>" class="anime-favorito">
            <img src="<%= favorito.Anime.capa %>" alt="<%= favorito.Anime.nome %>">
            <h4><%= favorito.Anime.nome %></h4>
          </a>
        </div>
      <% }); %>
    </div>

    <!-- Favoritos de Filmes -->
    <div id="favoritos-filme" class="categoria animes-lancados lista-dos-animes-capas" style="display: none;">
      <% favoritos.filter(favorito => favorito.Filme).forEach(favorito => { %>
        <div class="capa-onepiece-index capa-onepiece-listadosanimes">
          <a href="/filme/<%= favorito.Filme.id %>" data-anime-id="<%= favorito.Filme.id %>" class="anime-favorito">
            <img src="<%= favorito.Filme.capa %>" alt="<%= favorito.Filme.nome %>">
            <h4><%= favorito.Filme.nome %></h4>
          </a>
        </div>
      <% }); %>
    </div>

    <!-- Favoritos de Doramas -->
    <div id="favoritos-dorama" class="categoria animes-lancados lista-dos-animes-capas" style="display: none;">
      <% favoritos.filter(favorito => favorito.Dorama).forEach(favorito => { %>
        <div class="capa-onepiece-index capa-onepiece-listadosanimes">
          <a href="/dorama/<%= favorito.Dorama.id %>" data-anime-id="<%= favorito.Dorama.id %>" class="anime-favorito">
            <img src="<%= favorito.Dorama.capa %>" alt="<%= favorito.Dorama.nome %>">
            <h4><%= favorito.Dorama.nome %></h4>
          </a>
        </div>
      <% }); %>
    </div>
    
  </div>
  
</section>
<div class="espaco-area-cliente"></div>

<%- include("./partials/footer") %>

<script>
  const btnAnime = document.getElementById("btn-anime");
  const btnFilme = document.getElementById("btn-filme");
  const btnDorama = document.getElementById("btn-dorama");

  const favoritosAnime = document.getElementById("favoritos-anime");
  const favoritosFilme = document.getElementById("favoritos-filme");
  const favoritosDorama = document.getElementById("favoritos-dorama");

  const favoritosSection = document.getElementById("favor-item");

  favoritosSection.addEventListener("click", () => {
    btnAnime.style.display = "";
    btnFilme.style.display = "";
    btnDorama.style.display = "";
  });

  btnAnime.addEventListener("click", () => {
    favoritosAnime.style.display = "";
    favoritosFilme.style.display = "none";
    favoritosDorama.style.display = "none";
  });

  btnFilme.addEventListener("click", () => {
    favoritosAnime.style.display = "none";
    favoritosFilme.style.display = "";
    favoritosDorama.style.display = "none";
  });

  btnDorama.addEventListener("click", () => {
    favoritosAnime.style.display = "none";
    favoritosFilme.style.display = "none";
    favoritosDorama.style.display = "";
  });
</script>
