<%- include("./partials/head-admin") %> <%- include("./partials/header-admin")%>

<section class="site-animes">
    <div class="lado-esquerdo-do-site-index">

        <section class="sessao-2-index">
           <div class="titulo-principal-episodios-adicionados">
            <div class="barra-titulo-1-episodios-adicionados"></div>
            <div class="barra-titulo-2-episodios-adicionados">
                <h2>Doramas</h2>
            </div>
            <div class="barra-titulo-3-episodios-adicionados"></div>
           </div>
           <div class="barra-separacao-index barra-separacao-episodios-adicionados ">
            <img src="/img/barra-azul.png" alt="barra de sepração azul">
            <h3>Últimos Adicionados</h3>
            </div>


            <div class="animes-lancados">
                <% for(let detailsDorama of doramas) {%>
                <div class="capa-onepiece-index">
                    <a href="/dorama/<%= detailsDorama.id %>">
                        <img src="<%= detailsDorama.capa %>" alt="capa"/>
                    </a>
                    <h4><%= detailsDorama.nome %></h4>
                    <a href="/dorama/<%= detailsDorama.id %>">Visualizar</a>
                    <a href="/dorama/edit/<%= detailsDorama.id %>">Editar</a>
                </div>
                <% } %>

            </div>
    </div>
</section>
