<%- include("./partials/head-admin") %> <%- include("./partials/header-admin")%>


<section class="site-animes">

    <div class="lado-esquerdo-do-site-index">



        <section class="sessao-2-index">

           <div class="titulo-principal-episodios-adicionados">
            <div class="barra-titulo-1-episodios-adicionados"></div>
            <div class="barra-titulo-2-episodios-adicionados">
                <h2>Episódios</h2>
            </div>
            <div class="barra-titulo-3-episodios-adicionados"></div>
           </div>

           <div class="barra-separacao-index barra-separacao-episodios-adicionados ">
            <img src="/img/barra-azul.png" alt="barra de sepração azul">
            <h3>Últimos Adicionados</h3>
            </div>
    
            <div class="animes-adicionados">

                <% for(let episodio of episodios) {%>
                <div class="capa-onepiece-index">
                    <a href="/episodio/<%= episodio.id %>">
                        <img src="<%= episodio.image %>" alt="Imagem">
                    </a>
                    <h4> <%= episodio.data %></h4>
                    <h4><%= episodio.animes_id %></h4>
                    <h4>Episódio <%= episodio.numero_episodio %></h4>
                    </a>
                    
                    <a href="/episodio/<%= episodio.id %>">Visualizar</a>
                    <a href="/episodio/edit/<%= episodio.id %>">Editar</a>
                    <a href="/episodio/delete/<%= episodio.id %>">Excluir</a>
                </div>
                <% } %>
            </div>
            
        </section>

  
        
       
    </div>



</section>



