<%- include("./partials/head") %>
<%- include("./partials/header") %>

<section class="site-animes">

    <div class="lado-esquerdo-do-site-index">



        <section class="sessao-2-index">

           <div class="titulo-principal-episodios-adicionados">
            <div class="barra-titulo-1-episodios-adicionados"></div>
            <div class="barra-titulo-2-episodios-adicionados">
                <h2>Episódios</h2>
            </div>
            <div class="barra-titulo-3-episodios-adicionados"></div>
           </div>

           <div class="barra-separacao-index barra-separacao-episodios-adicionados ">
            <img src="/img/barra-azul.png" alt="barra de sepração azul">
            <h3>Exibindo <%= episodios.length %> Animes - Página <%= page %> de <%= totalPages %></h3>
            </div>
    
            <div class="animes-adicionados">

                <% for(let episodio of episodios.slice(0, 30)) {%>
                <div class="capa-onepiece-index">
                    <a href="/episodio/<%= episodio.id %>">
                        <img src="<%= episodio.image %>" alt="Imagem">
                    </a>
                    <h4> <%= episodio.data %></h4>
                    <h4><%= episodio.nome %></h4>
                    <h4>Episódio <%= episodio.id %></h4>
                    </a>
                </div>
                <% } %>
            </div>
            
        </section>

        <div class="numero-da-pagina-listadosanimes numero-da-pagina-episodios-adiconados">
            <ul>
              <% if (page > 1) { %>
                <a href="?page=<%= page - 1 %>"><li><img src="/img/icone-seta-direita.png" alt=""></li></a>
              <% } %>
              <% const maxVisiblePages = 6; // Número máximo de páginas visíveis %>
              <% const startPage = Math.max(1, page - Math.floor(maxVisiblePages / 2)); %>
              <% const endPage = Math.min(totalPages, startPage + maxVisiblePages - 1); %>
              <% if (startPage > 1) { %>
                <a href="?page=1"><li>1</li></a>
                <% if (startPage > 2) { %>
                  <li>...</li>
                <% } %>
              <% } %>
              <% for (let i = startPage; i <= endPage; i++) { %>
                <a href="?page=<%= i %>">
                  <li <%= i === page ? 'class="current"' : '' %>>
                    <%= i %>
                  </li>
                </a>
              <% } %>
              <% if (endPage < totalPages) { %>
                <% if (endPage < totalPages - 1) { %>
                  <li>...</li>
                <% } %>
                <a href="?page=<%= totalPages %>"><li><%= totalPages %></li></a>
              <% } %>
              <% if (page < totalPages) { %>
                <a href="?page=<%= page + 1 %>"><li><img src="/img/icone-seta-esquerda.png" alt=""></li></a>
              <% } %>
            </ul>
          </div>
        
       
    </div>


    <div class="lado-direito-do-site-index">

        <div class="linha-lateral-direita-index2"> </div>
        <div class="linha-lateral-direita-index">
            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index">
                    <h2>ANIMES MAIS POPULARES</h2>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                </div>
            </section>
        
            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>MANGAS POPULARES</h2>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                </div>
            </section>

            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>NOTICÍAS DO BLOG</h2>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                    <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                    </div>
                    <div class="o-anime-popular-index-lado-direiro">
                        <div>
                            <h4>NORAGAMI</h4>
                            <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                </div>
            </section>
    </div>

</section>


<%- include("./partials/footer") %> 
