<%- include("./partials/head") %>
<%- include("./partials/header") %>


<section class="site-animes">

    <div class="lado-esquerdo-do-site-index">


        <section class="sessao-1-index">

            <div class="textodelacamento-e-iconedecarrosel">
                <div class="barra-separacao-index">
                    <img src="/img/barra-azul.png" alt="barra de sepração azul">
                    <h3>LAÇAMENTOS</h3>
                </div>
    
                <div class="setas-carrosel-index"> 
                    <button data-target="#animeCarousel" data-slide="prev">
                    </button>
                    <button data-target="#animeCarousel" data-slide="next">
                    </button>
                </div>
                
            </div>

            <div class="animes-lancados"> 
            <div class="carrossel">
                <div id="animeCarousel" class="carousel slide" data-ride="carousel">

                    
                  <!-- Slides do Carrossel -->
                  <div class="carousel-inner animes-lancados-index">
                    <% 
                    const gruposAnimes = chunkArray(listaAnimeAdmin, 5); // Dividir a lista em grupos de 5
                    gruposAnimes.forEach((grupo, grupoIndex) => { %>
                      <div class="carousel-item <%= grupoIndex === 0 ? 'active' : '' %>">
                        <div class=" row">
                          <% grupo.forEach((anime, index) => { %>
                            <div class="col-md-2">
                              <div class="capa-onepiece-index capa-onepiece-index2">
                                <a href="/anime/<%= anime.id %>">
                                <div class="zoomable-image-container">
                                  <img class="zoomable-image" src="<%= anime.capa %>" alt="capa"/>
                                  <div class="zoomable-image-overlay"></div>
                                </div>


                                <h4><%= anime.nome %></h4>
                                </a>

                              </div>
                            </div>
                          <% }); %>
                        </div>
                      </div>
                    <% }); %>
                  </div>
              

                </div>
              </div>
            </div>
        </section>
    
        <div class="linha-index"></div>
    
        <section class="sessao-2-index">
            <div class="textodelacamento-e-iconedecarrosel">
                <div class="barra-separacao-index">
                    <img src="/img/barra-azul.png" alt="barra de sepração azul">
                    <h3>ÚLTIMOS EPISÓDIOS</h3>
                </div>
    
                <div class="botao-vermais-index"> 
                    <a href="/episodiosAdicionados"><button>VER MAIS</button></a>
                    
                </div>
            </div>
    
            <div class="animes-adicionados">
                <% if (episodios.length > 0) { %>

                <% for(let episodio of episodios.slice(0, 18)) {%>
                <div class="capa-onepiece-index capa-onepiece-index-ep">
                    <a class="ddds" href="/episodio/<%= episodio.id%>" target="">

                                <div class="zoomable-image-container">
                                  <img class="zoomable-image" src="<%= episodio.image %>" alt="capa"/>
                                  <div class="zoomable-image-overlay"></div>
                                </div>
                  <div class="descricao-ep-index">
                    <h4> <%= episodio.data %></h4>
                    <h2><%= episodio.nome %></h2>
                    <h2>Episódio <%= episodio.numero_episodio %></h2></div>
                    </a>
                </div>
                <% } %>
                <% } %>
            </div>
        </section>

        <div class="linha-index"></div>
        
        <section class="sessao-1-index">
            <div class="textodelacamento-e-iconedecarrosel">
                <div class="barra-separacao-index">
                    <img src="/img/barra-azul.png" alt="barra de sepração azul">
                    <h3>FILMES</h3>
                </div>
    
                <div class="botao-vermais-index"> 
                    <a href="/filmesAdicionados"><button>VER MAIS</button></a>
                    
                </div>
            </div>
    
            <div class="animes-lancados">
               
                <% for (let detailsFilme of filmes.slice(0, 5)) { %>
                <div class="capa-onepiece-index capa-onepiece-index-film">
                    <a href="/filme/<%= detailsFilme.id %>">
                        <div class="zoomable-image-container">
                                  <img class="zoomable-image" src="<%= detailsFilme.capa %>" alt="capa"/>
                                  <div class="zoomable-image-overlay"></div>
                                </div>
                    </a>


                    <h4><%= detailsFilme.nome %></h4>
                </div>
                <% } %>
 
                
            </div>
        </section>
    </div>


    <div class="lado-direito-do-site-index">

        <div class="linha-lateral-direita-index2"> </div>
        <div class="linha-lateral-direita-index">
            <section class="sessao-1-lado-direiro-index">

                
                <div class="animes-populares-index">
  <h2>ANIMES POPULARES</h2>
  <% animesPopulares.forEach(anime => { %>
    <a href="/anime/<%= anime.id %>">
      <div class="o-anime-popular-index">
        <div class="capa-do-anime-popular-index">
          <img src="<%= anime.capa %>" alt="<%= anime.nome %>">
        </div>
        <div class="o-anime-popular-index-lado-direiro">
          <div>
            <h3><%= anime.nome.substring(0, 15) %></h3>
            <div class="nota-do-anime-index">
                     <h4><%= anime.percentage %></h4>
                    <img src="/img/nota.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </a>
  <% }); %>
</div>




</section>
        
            <section class="sessao-1-lado-direiro-index">
                <a href="">
                    <div class="animes-populares-index mangas-populares-index">
                        <h2>MANGAS POPULARES</h2>
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                </div>
            </section>

            <section class="sessao-1-lado-direiro-index">
                <div class="animes-populares-index mangas-populares-index">
                    <h2>NOTICÍAS DO BLOG</h2>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="o-anime-popular-index">
                        <div class="capa-do-anime-popular-index"> <img src="/img/capa-noragami.jpg" alt=""> 
                        </div>
                        <div class="o-anime-popular-index-lado-direiro">
                            <div>
                                <h4>NORAGAMI</h4>
                                <div class="nota-do-anime-index"><img src="/img/nota.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </a>

                </div>
            </section>
    </div>

</section>


<%- include("./partials/footer") %> 
