<%- include("./partials/head") %> <%- include("./partials/header") %>

<section class="listadeanimes">
  <div class="titulo-principal-lista-animes">
    <h2>LISTA DE ANIMES COMPLETA</h2>
  </div>

  <div class="lista-de-animes-por-letra">
    <ul>
      <a href="/listaAnimeUsuario?letter=all"> <li>ALL</li> </a>
      <a href="/listaAnimeUsuario?letter=%23"><li>#</li></a>

      <!-- Adicione os links para outras letras do alfabeto -->
      <a href="/listaAnimeUsuario?letter=A"> <li>A</li> </a>
      <a href="/listaAnimeUsuario?letter=B"> <li>B</li> </a>
      <a href="/listaAnimeUsuario?letter=C"> <li>C</li> </a>
      <a href="/listaAnimeUsuario?letter=D"> <li>D</li> </a>
      <a href="/listaAnimeUsuario?letter=E"> <li>E</li> </a>
      <a href="/listaAnimeUsuario?letter=F"> <li>F</li> </a>
      <a href="/listaAnimeUsuario?letter=G"> <li>G</li> </a>
      <a href="/listaAnimeUsuario?letter=H"> <li>H</li> </a>
      <a href="/listaAnimeUsuario?letter=I"> <li>I</li> </a>
      <a href="/listaAnimeUsuario?letter=J"> <li>J</li> </a>
      <a href="/listaAnimeUsuario?letter=K"> <li>K</li> </a>
      <a href="/listaAnimeUsuario?letter=L"> <li>L</li> </a>
      <a href="/listaAnimeUsuario?letter=M"> <li>M</li> </a>
      <a href="/listaAnimeUsuario?letter=N"> <li>N</li> </a>
      <a href="/listaAnimeUsuario?letter=O"> <li>O</li> </a>
      <a href="/listaAnimeUsuario?letter=P"> <li>P</li> </a>
      <a href="/listaAnimeUsuario?letter=Q"> <li>Q</li> </a>
      <a href="/listaAnimeUsuario?letter=R"> <li>R</li> </a>
      <a href="/listaAnimeUsuario?letter=S"> <li>S</li> </a>
      <a href="/listaAnimeUsuario?letter=T"> <li>T</li> </a>
      <a href="/listaAnimeUsuario?letter=U"> <li>U</li> </a>
      <a href="/listaAnimeUsuario?letter=V"> <li>V</li> </a>
      <a href="/listaAnimeUsuario?letter=W"> <li>W</li> </a>
      <a href="/listaAnimeUsuario?letter=X"> <li>X</li> </a>
      <a href="/listaAnimeUsuario?letter=Y"> <li>Y</li> </a>
      <a href="/listaAnimeUsuario?letter=Z"> <li>Z</li> </a>

    </ul>
  </div>



  <form class="pesquisa-listadosanimes" action="/listaAnimeUsuario" method="GET">
    <div class="barra-de-pesquisa-partials barra-de-pesquisa-lista-dos-animes">
      <div class="pesquisa-lista-dos-animes">
        <input type="search" name="search" placeholder="Pesquisar Pelo Nome..." />
      </div>
      <div>
        <button type="submit"><img src="/img/lupa.png" alt="Lupa" /></button>
      </div>
    </div>
  </form>
  

  <div class="filtros-listadosanimes">
    <ul>
      
      <div class="filtros-internos" id="filtro-generos">
        <img src="/img/icone-filtro.png" alt="" />
        <li>Generos</li>
    </div>
    


      <div class="filtros-internos">
        <img src="/img/icone-linguagem.png" alt="" />
        <li id="filtroLinguagem">Legendado/Dublado</li>
        <div class="filtro-opcoes-container">
          <a href="#"><div id="legendado" class="filtro-opcao" data-tipo="Legendado">Legendado</div></a>
          <a href="#"><div id="dublado" class="filtro-opcao" data-tipo="Dublado">Dublado</div></a>
        </div>
        <form id="filtroForm" action="/listaAnimeUsuario" method="GET"> <!-- Use um formulário para enviar a seleção ao servidor -->
          <input type="hidden" name="tipo" id="tipoSelecionado" value=""> <!-- Campo oculto para armazenar o tipo selecionado -->
        </form>
      </div>
      
      <script>
        $(document).ready(function () {
          $("#filtroLinguagem").click(function () {
            $(".filtro-opcoes-container").toggle(); // Alternar a visibilidade do contêiner
          });
      
          // Lidar com o clique nas opções "Legendado" e "Dublado"
          $(".filtro-opcao").click(function () {
            const tipoSelecionado = $(this).data("tipo"); // Obter o tipo selecionado
            $("#tipoSelecionado").val(tipoSelecionado); // Definir o valor no campo oculto
            $("#filtroForm").submit(); // Enviar o formulário quando uma opção for selecionada
          });
        });
      </script>
      
     
      <div class="filtros-internos">
        <img src="/img/icone-organizar-cimaebaixo.png" alt="" />
        <li id="filtroOrganizar">Organizar</li>
        <img src="/img/icone-seta-baixo.png" class="seta-baixo" alt="" />
        <div class="filtro-opcoes-container-organizar">
          <a href="#"><div id="ordem-alfabetica" class="filtro-opcao-organizar filtro-opcao" data-tipo="OrdemAlfabetica">Ordem Alfabética</div></a>
          <a href="#"><div id="recentes" class="filtro-opcao-organizar filtro-opcao" data-tipo="Recentes">Recentes</div></a>
        </div>
        <form id="filtroForm-organizar" action="/listaAnimeUsuario" method="GET">
          <input type="hidden" name="tipo" id="tipoSelecionado" value="">
          <input type="hidden" name="ordenacao" id="ordenacaoSelecionada" value="">
        </form>
      </div>
      
      

      <script>
        $(document).ready(function () {
          $("#filtroOrganizar").click(function () {
            $(".filtro-opcoes-container-organizar").toggle();
          });
      
          $(".filtro-opcao-organizar").click(function () {
            const tipoSelecionado = $(this).data("tipo");
            $("#ordenacaoSelecionada").val(tipoSelecionado); // Use "ordenacaoSelecionada" em vez de "tipoSelecionado"
      
            // Submeta o formulário para acionar a filtragem
            $("#filtroForm-organizar").submit();
          });
        });
      </script>
      


    </ul>
  </div>

  




        

<div class="lista-generos lista-generos-part-animes" id="lista-generos">

  
  <ul>

    <a href="#" data-genero="Ação" class="<%= selectedGenres.includes('Ação') ? 'selected' : '' %>"><li>Ação</li></a>
    <a href="#" data-genero="Comédia Romântica" class="<%= selectedGenres.includes('Comédia Romântica') ? 'selected' : '' %>"><li>Comédia Romântica</li></a>
    <a href="#" data-genero="Animação" class="<%= selectedGenres.includes('Animação') ? 'selected' : '' %>"><li>Animação</li></a>
    <a href="#" data-genero="Artes Marciais" class="<%= selectedGenres.includes('Artes Marciais') ? 'selected' : '' %>"><li>Artes Marciais</li></a>
    <a href="#" data-genero="Aventura" class="<%= selectedGenres.includes('Aventura') ? 'selected' : '' %>"><li>Aventura</li></a>
    <a href="#" data-genero="Comédia" class="<%= selectedGenres.includes('Comédia') ? 'selected' : '' %>"><li>Comédia</li></a>
    <a href="#" data-genero="Cotidiano" class="<%= selectedGenres.includes('Cotidiano') ? 'selected' : '' %>"><li>Cotidiano</li></a>
    <a href="#" data-genero="Drama" class="<%= selectedGenres.includes('Drama') ? 'selected' : '' %>"><li>Drama</li></a>
    <a href="#" data-genero="Dorama" class="<%= selectedGenres.includes('Dorama') ? 'selected' : '' %>"><li>Dorama</li></a>
    <a href="#" data-genero="Ecchi" class="<%= selectedGenres.includes('Ecchi') ? 'selected' : '' %>"><li>Ecchi</li></a>
    <a href="#" data-genero="Escolar" class="<%= selectedGenres.includes('Escolar') ? 'selected' : '' %>"><li>Escolar</li></a>
    <a href="#" data-genero="Esporte" class="<%= selectedGenres.includes('Esporte') ? 'selected' : '' %>"><li>Esporte</li></a>
    <a href="#" data-genero="Fantasia" class="<%= selectedGenres.includes('Fantasia') ? 'selected' : '' %>"><li>Fantasia</li></a>
    <a href="#" data-genero="Ficção Cientifica" class="<%= selectedGenres.includes('Ficção Cientifica') ? 'selected' : '' %>"><li>Ficção Cientifica</li></a>
    <a href="#" data-genero="Game" class="<%= selectedGenres.includes('Game') ? 'selected' : '' %>"><li>Game</li></a>
    <a href="#" data-genero="Harém" class="<%= selectedGenres.includes('Harém') ? 'selected' : '' %>"><li>Harém</li></a>
    <a href="#" data-genero="Histórico" class="<%= selectedGenres.includes('Histórico') ? 'selected' : '' %>"><li>Histórico</li></a>
    <a href="#" data-genero="Infantil" class="<%= selectedGenres.includes('Infantil') ? 'selected' : '' %>"><li>Infantil</li></a>
    <a href="#" data-genero="Isekai" class="<%= selectedGenres.includes('Isekai') ? 'selected' : '' %>"><li>Isekai</li></a>
    <a href="#" data-genero="Magia" class="<%= selectedGenres.includes('Magia') ? 'selected' : '' %>"><li>Magia</li></a>
    <a href="#" data-genero="Mecha" class="<%= selectedGenres.includes('Mecha') ? 'selected' : '' %>"><li>Mecha</li></a>
    <a href="#" data-genero="Mistério" class="<%= selectedGenres.includes('Mistério') ? 'selected' : '' %>"><li>Mistério</li></a>
    <a href="#" data-genero="Mitoligia" class="<%= selectedGenres.includes('Mitoligia') ? 'selected' : '' %>"><li>Mitoligia</li></a>
    <a href="#" data-genero="Musical" class="<%= selectedGenres.includes('Musical') ? 'selected' : '' %>"><li>Musical</li></a>
    <a href="#" data-genero="Policial" class="<%= selectedGenres.includes('Policial') ? 'selected' : '' %>"><li>Policial</li></a>
    <a href="#" data-genero="Psicológia" class="<%= selectedGenres.includes('Psicológia') ? 'selected' : '' %>"><li>Psicológia</li></a>
    <a href="#" data-genero="Romance" class="<%= selectedGenres.includes('Romance') ? 'selected' : '' %>"><li>Romance</li></a>
    <a href="#" data-genero="Samurai" class="<%= selectedGenres.includes('Samurai') ? 'selected' : '' %>"><li>Samurai</li></a>
    <a href="#" data-genero="Seinen" class="<%= selectedGenres.includes('Seinen') ? 'selected' : '' %>"><li>Seinen</li></a>
    <a href="#" data-genero="Shoujo" class="<%= selectedGenres.includes('Shoujo') ? 'selected' : '' %>"><li>Shoujo</li></a>
    <a href="#" data-genero="Shounen" class="<%= selectedGenres.includes('Shounen') ? 'selected' : '' %>"><li>Shounen</li></a>
    <a href="#" data-genero="Sobrenatural" class="<%= selectedGenres.includes('Sobrenatural') ? 'selected' : '' %>"><li>Sobrenatural</li></a>
    <a href="#" data-genero="Super Poder" class="<%= selectedGenres.includes('Super Poder') ? 'selected' : '' %>"><li>Super Poder</li></a>
    <a href="#" data-genero="Suspense" class="<%= selectedGenres.includes('Suspense') ? 'selected' : '' %>"><li>Suspense</li></a>
    <a href="#" data-genero="Terror" class="<%= selectedGenres.includes('Terror') ? 'selected' : '' %>"><li>Terror</li></a>
    <a href="#" data-genero="Vampiros" class="<%= selectedGenres.includes('Vampiros') ? 'selected' : '' %>"><li>Vampiros</li></a>
    <a href="#" data-genero="Yaoi/Yuri" class="<%= selectedGenres.includes('Yaoi/Yuri') ? 'selected' : '' %>"><li>Yaoi/Yuri</li></a>

  </ul>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Inicialmente, esconda a lista de gêneros
    $("#lista-generos").hide();

    // Adicione um evento de clique ao filtro "Gêneros"
    $("#filtro-generos").click(function() {
        // Use o método 'toggle' para alternar a visibilidade da lista de gêneros
        $("#lista-generos").toggle();
    });
});
</script>


<!-- Adicione este código JavaScript no seu arquivo EJS -->
<script>
  $(document).ready(function() {
    // Adicione um evento de clique aos links de gênero
    $("a[data-genero]").click(function(e) {
      e.preventDefault(); // Impedir o comportamento padrão do link
      
      const generoSelecionado = $(this).data("genero");
      
      // Redirecione para a página com o filtro de gênero
      window.location.href = `/listaAnimeUsuario?genero=${generoSelecionado}`;
    });
  });
</script>











  <div class="numero-de-animes-na-pagina-listadosanimes">
    <h4>Exibindo <%= listaAnimeAdmin.length %> Animes - Página <%= page %> de <%= totalPages %> (Letra: <%= selectedLetter.toUpperCase() %>)</h4>
  </div>
  

  <div class="numero-da-pagina-listadosanimes numero-da-pagina-episodios-adiconados">
    <ul>
      <% if (page > 1) { %>
        <a href="?page=<%= page - 1 %>"><li><img src="/img/icone-seta-direita.png" alt=""></li></a>
      <% } %>
      <% const maxVisiblePages1 = 6; // Número máximo de páginas visíveis %>
      <% const startPage1 = Math.max(1, page - Math.floor(maxVisiblePages1 / 2)); %>
      <% const endPage1 = Math.min(totalPages, startPage1 + maxVisiblePages1 - 1); %>
      <% if (startPage1 > 1) { %>
        <a href="?page=1"><li>1</li></a>
        <% if (startPage1 > 2) { %>
          <li>...</li>
        <% } %>
      <% } %>
      <% for (let i = startPage1; i <= endPage1; i++) { %>
        <a href="?page=<%= i %>">
          <li <%= i === page ? 'class="current"' : '' %>>
            <%= i %>
          </li>
        </a>
      <% } %>
      <% if (endPage1 < totalPages) { %>
        <% if (endPage1 < totalPages - 1) { %>
          <li>...</li>
        <% } %>
        <a href="?page=<%= totalPages %>"><li><%= totalPages %></li></a>
      <% } %>
      <% if (page < totalPages) { %>
        <a href="?page=<%= page + 1 %>"><li><img src="/img/icone-seta-esquerda.png" alt=""></li></a>
      <% } %>
    </ul>
  </div>

  <div id="lista-animes" class="animes-lancados lista-dos-animes-capas">
    <% for(let anime of listaAnimeAdmin) {%>
    <div class="capa-onepiece-index capa-onepiece-listadosanimes">
      <a href="/anime/<%= anime.id %>">
        <div class="zoomable-image-container">
          <img class="zoomable-image" src="<%= anime.capa %>" alt="capa"/>
          <div class="zoomable-image-overlay"></div>
        </div>
        <h4><%= anime.nome %></h4>
      </a>
    </div>
    <% } %>
  </div>

<div class="numero-da-pagina-listadosanimes numero-da-pagina-episodios-adiconados">
  <ul>
    <% if (page > 1) { %>
      <a href="?page=<%= page - 1 %>"><li><img src="/img/icone-seta-direita.png" alt=""></li></a>
    <% } %>
    <% const maxVisiblePages = 6; // Número máximo de páginas visíveis %>
    <% const startPage = Math.max(1, page - Math.floor(maxVisiblePages / 2)); %>
    <% const endPage = Math.min(totalPages, startPage + maxVisiblePages - 1); %>
    <% if (startPage > 1) { %>
      <a href="?page=1"><li>1</li></a>
      <% if (startPage > 2) { %>
        <li>...</li>
      <% } %>
    <% } %>
    <% for (let i = startPage; i <= endPage; i++) { %>
      <a href="?page=<%= i %>">
        <li <%= i === page ? 'class="current"' : '' %>>
          <%= i %>
        </li>
      </a>
    <% } %>
    <% if (endPage < totalPages) { %>
      <% if (endPage < totalPages - 1) { %>
        <li>...</li>
      <% } %>
      <a href="?page=<%= totalPages %>"><li><%= totalPages %></li></a>
    <% } %>
    <% if (page < totalPages) { %>
      <a href="?page=<%= page + 1 %>"><li><img src="/img/icone-seta-esquerda.png" alt=""></li></a>
    <% } %>
  </ul>
</div>


  <div class="espaco-contato"></div>
</section>
