<%- include("./partials/head-admin") %> <%- include("./partials/header-admin")%>


<div class="animes-adicionados">
    <% if (pedidos.length > 0) { %>

    <% for(let pedido of pedidos.slice(0, 18)) {%>
    <div class="capa-onepiece-index">
        <h4> <%= pedido.usuario %></h4>
        <h4> <%= pedido.anime %></h4>
        <h4> <%= pedido.comentario %></h4>

    </div>
    <div>
        <form action="/pedido/delete/ <%= pedido.id %>?_method=delete" method="post">
            <h2>Deseja Deletar esse Pedido?</h2>
            <a href="/pedido/create"><button type="button">Não</button></a>
            <button type="submit">Sim</button>
          </form>
    </div>
    <% } %>
    <% } %>

</div>